<style>
  .none {
    display: none;
  }
</style>

{% assign out_of_stock_form_class = 'none' %}
{% assign blockSettings = block.settings %}
{% if blockSettings.product.selected_or_first_available_variant.available == false %}
  {% assign out_of_stock_form_class = '' %}
{% endif %}
<script src="{{ 'back-in-stock.js' | asset_url}}" async></script>
<script type="application/json" id="bis-product-json">
  {{ product | json }}
</script>
<back-in-stock
  data-store="{{ shop.permanent_domain }}"
  data-product-id="{{ product.id }}"
  data-product-handle="{{ product.handle }}"
  data-product-title="{{ product.title }}"
  data-variant-id="{{ product.selected_or_first_available_variant.id }}"
  data-variant-title="{{ product.selected_or_first_available_variant.title }}"
>
  <form
    class="out-of-stock {{ out_of_stock_form_class }}"
    style="background:{{ blockSettings.form_background }};color:{{ blockSettings.text_color }}"
  >
    <h3>{{ blockSettings.form_title }}</h3>
    <p>{{ blockSettings.description }}</p>
    <label for="email">Email</label>
    <div class="wrapper">
      <input type="text" name="email" placeholder="{{ blockSettings.input_text_placeholder }}">
      <input type="tel" name="telephone" placeholder="03331234567" pattern="[0-9]{11}" maxlength="11" minlength="11"  title="Eleven digits code"/>    
      <button style="background: {{ blockSettings.button_background }};color:{{ blockSettings.button_text_color }}">
        {{ blockSettings.button_text }}
      </button>
    </div>
    <p class="message">
      <span class="success none">
        {{ blockSettings.success_message }}
      </span>
      <span class="error none">
        {{ blockSettings.error_message }}
      </span>
    </p>
  </form>
</back-in-stock>

{% schema %}
{
  "name": "Back In Stock Form",
  "target": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Block title",
      "default": "Back In Stock Form"
    },
    {
      "type": "product",
      "id": "product",
      "label": "product",
      "autofill": true
    },
    {
      "type": "header",
      "content": "Colors",
      "info": "Colors for the back-in-stock form"
    },
    {
      "type": "color",
      "id": "form_background",
      "label": "Form background",
      "default": "#000"
    },
    {
      "type": "color",
      "id": "button_background",
      "label": "Button background",
      "default": "#fff"
    },
    {
      "type": "color",
      "id": "button_text_color",
      "label": "Button text color",
      "default": "#000"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "#fff"
    },
    {
      "type": "header",
      "content": "Text",
      "info": "Text content for the form"
    },
    {
      "type": "text",
      "id": "form_title",
      "label": "Title",
      "default": "Notify Me! When Available"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "text",
      "id": "input_text_placeholder",
      "label": "Input Text Placeholder",
      "default": "Enter email here"
    },
    {
      "type": "text",
      "id": "success_message",
      "label": "Success Message",
      "default": "Subscribed"
    },
    {
      "type": "text",
      "id": "error_message",
      "label": "Error",
      "default": "Error, Try Again"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button text",
      "default": "Submit"
    }
  ]
}
{% endschema %}
